.photo{
    width: 200px;
    height: 300px;
    background-image: url(../image.png);
    background-position: center;
    margin: 10px;
    transition: all .3s;
    box-shadow: 10px 10px 50px;
}

section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo:hover{
    transform: scale(1.1);
}

.photo:active{
    transform: scale(0.9);

}