@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');




html {

      scroll-behavior: smooth;
        scroll-padding-top: 60px;
    }

*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
}


.quizContainer{
    width: 1000px;
    margin: 0 auto;
}

.startContainer{
    width: auto;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.questionContainer{
    width: 600px;
    margin: 0 auto;
}

.anwser{
    background-color: #f0f8ff;
    padding: 10px 10px;
    margin: 20px 10px;
    text-align: center;
}

.none{
    display: none;
}

.selected {
    background-color: #919497;
}